# Exclude everything
*

# Include package files and source code from apps and libs
!apps/*/src
!apps/*/package.json
!apps/*/tsconfig.json
!apps/*/codegen.ts
!libs/*/src
!libs/*/package.json
!libs/*/tsconfig.json
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!turbo.json
!biome.json
!scripts/
!.npmrc
!patches/

# Exclude node_modules and dist directories
**/node_modules
**/dist

# Exclude test files
**/*.test.ts
**/*.spec.ts
**/tests

# Exclude git and environment files
.git
.github
.env*
!.env.example
.env
Dockerfile
.dockerignore
npm-debug.log
README.md
.git
docs
build